@{
    ViewData["Title"] = "NotFoundCart";
}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
        color: #495057;
        text-align: center;
        padding: 50px;
    }

    h1 {
        color: #dc3545;
    }

    p {
        font-size: 18px;
    }

    a {
        color: #007bff;
        text-decoration: none;
        font-weight: bold;
    }

        a:hover {
            text-decoration: underline;
        }
</style>

<h1>Not Found Cart</h1>
<p><a href="@Url.Action("Index", "Home")">Go back to Home</a></p>
